/* Uso el selector universal para sacar el margen y borde que pudirea insertar el explorador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Creo tre familias de tipografia que seran usadas a lo largo del documento */
@font-face {
    font-family: Bonheur;
    src: url(../fonts/BonheurRoyale-Regular.ttf);
}

@font-face {
    font-family: rubik-black;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik-ita;
    src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
}

/* Coloco un color de fondo a todo el cuerpo */
body {
    background-color: #CCC5C9;
}

/* Hago la grilla para el header */
.gridCont {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr auto auto 1fr;
    justify-content: center;
}

/* Doy formato a las letras del titulo de la pagina, esto sera cambiado en una futura version con un css distinto para proveer una mejor accesibilidad */
.headCont {
    grid-column: 1/5;
    grid-row: 1/2;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid #EB5E28;
}

.isotype {
    text-decoration: none;
    font-family: Bonheur;
    font-size: 15vw;
    color: #EB5E28;
    justify-items: center;
    margin-left: 10%;
    transition: text-color .5s ease;
}

/* Hago la animacion cuando el raton pasa por encima del titulo principal de la pagina */
.isotype.text:hover {
    color: #403D39;
}

/* Aqui empieza todo el formato de la barra de navegacion */
.navbar {
    margin-right: 0;
    margin-left: auto;
    height: 50%;
    text-align: center;
}

.navbar li {

    display: inline-block;
    justify-content: space-between;
    align-items: sapce-between;
}

.navbar a {
    text-decoration: none;
    color: #252422;
    font-size: 2vh;
    font-family: rubik-black;
    padding: 1rem;
    transition: text-shadow .5s ease;
}

.navbar a:hover {
    color: #EB5E28;
    font-size: 1.2rem;
}

/* Doy formato al logo de instagram, y el siguiente bloque se encarga de la animacion */
.isoInsta {
    height: 2rem;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: box-shadow 0.5s ease;
    border-radius: 1rem;
}

.isoInsta:hover {
    box-shadow: .5rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* .mainCont maneja los estilos del contenido de las páginas sobre nosostros e info clientes */
.mainCont {
    grid-column: 1/5;
    grid-row: 2/4;
    display: flexbox;
    flex-direction: row;
    text-align: center;

}

/* En los siguientes dos bloques sera dado el formato de las secciones y los articulos usados en las paginas de sobre nosotros e info clientes implementando */

section article h2 {
    font-family: rubik-ita;
    color: #EB5E28;
    margin: 1rem;
}

section article p {
    font-family: rubik-black;
    color: #403D39;
    padding: 1rem;
}

.plholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgHolder {
    max-width: 80vw;
    padding: 5%;
}

/* Aqui voy a hacer una sub-grilla para los producto unicamente */
.cardProducts {
    width: 90vw;
    grid-column: 1/5;
    grid-row: 2/4;
}

.card {
    border: 2px solid #EB5E28;
    border-radius: 15px;
    padding: 5%;
    margin-left: 10vw;
    margin-top: 5%;
}

.card:hover {
    box-shadow: 5px 5px #3d1302;
}

.imgProd {
    width: 40vh;
}

/* Formato que se aplica unicamente a la pagina de contacto*/
.contactForm {
    grid-column: 1/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.wp {
    margin: 5%;
    grid-column: 1/3;
    grid-row: 1/2;
}

.wpText {
    font-family: rubik-ita;
    color: #403D39;
}

.isoWp {
    transform: translateX(40vw);
    transition: all 2s ease-in-out;
}

.isoWP:hover {
    width: 5%;
}

.mapCont {
    grid-column: 1/3;
    grid-row: 2/3;

}

.map {
    width: auto;
    height: auto;
    margin: 2%;
    border-radius: 4%;

}

form {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5%;
    grid-column: 1/3;
    grid-row: 3/4;
    border: #EB5E28 solid 2px;
    border-radius: 4%;
    padding: 8%;
    color: #252422;
}

label {
    font-family: rubik-black;
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

input,
textarea {

    text-align: center;
    width: 95%;
    font-family: rubik-ita;
    margin: 5px;
    padding: 5px;
}

button {
    font-family: rubik-black;
    color: #403D39;
    background-color: #EB5E28;
    border: none;
    border-radius: 4px;
    width: 5rem;
    height: 2rem;

}

button:hover {
    color: #EB5E28;
    background-color: #403D39;
    border: none;
    border-radius: 4px;
}

/* Desde aqui y los proximos tres bloques se encargan del footer, tanto del icono de correo, como la animacion y el formato del copy */
.footCont {
    grid-column: 1/5;
    grid-row: 4/5;
}

.mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    transition: box-shadow 0.5s ease;
    border-radius: 0.8rem;
}

.mail:hover {
    box-shadow: .5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.copy {
    font-family: rubik-black;
    font-size: 0.8rem;
    color: #403D39;
    text-align: left;
    margin-top: 10px;
}

/* Aqui voy a hacer una media querie para pantallas de 768px hasta 1200px que es cuando entra la proxima media querie, no comento las proximas lineas de código porque ya estan comentadas arriba y me parece que es medio redundante, pero solo se varian los parametros necesarios en cada elemento */
@media screen and (min-width:768px) {

    .isotype {
        font-size: 12vw;
        margin-left: 15vw;
    }

    .navbar a {
        font-size: 3vh;
    }

    section article h2 {
        font-size: 1rem;
    }

    section article p {
        font-size: 1rem;
    }

    .card {
        text-align: center;
        width: 60vw;
        margin-left: 20vw;
    }

    .imgProd {
        width: 20vw;
    }

    .wpText {
        font-size: 1rem;
        text-align: center;
    }

    .contactForm {
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 1fr auto auto;
    }

    form {
        width: 60vw;
        margin-left: 10vw;
    }
    .wp {
        margin: 5%;
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .isoWp {
        transform: translateX(34vw);
    }

    .map {
        width: 60vw;
        height: 60vw;
        margin-left: 10vw;
    }

    .copy {
        font-size: 1rem;
    }

}
/* Desde aqui la media querie para pantallas de mas de 1200px */
@media screen and (min-width:1200px) {
    .isotype {
        font-size: 8vw;
    }

    .navbar a {
        font-size: 1.8vh;
    }

    .imgHolder {
        max-width: 60vw;

    }

    .isoInsta {
        height: 4rem;
    }

    .mail {
        width: 4vw;

    }

    .contactForm {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: 1fr auto auto;
    }

    .mapCont {
        grid-column: 1/2;
        grid-row: 2/3;

    }

    form {

        grid-column: 3/4;
        grid-row: 2/3;

    }

    form {
        width: 30vw;
        align-self: flex-start;

    }

    .map {
        width: 30vw;
        height: 30vw;
    }
}