@font-face {
    font-family: Bonheur;
    src: url(../fonts/BonheurRoyale-Regular.ttf);
}

@font-face {
    font-family: rubik-black;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik-ita;
    src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
}
.isotype{text-decoration: none;
    font-family: Bonheur;
    font-size: 10vw;
    color: #EB5E28;
    }
body{
    background-color:#ccc5b9;
}
.bacgroundColor{
    background-color:#EBE3D5;
}