@import "var";

/* Declaro los font face para las fuentes que voy a usar en el proyecto */
@font-face {
    font-family: Bonheur;
    src: url(../fonts/BonheurRoyale-Regular.ttf);
}

@font-face {
    font-family: rubik-black;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik-ita;
    src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
}

/* Selector universal para sacar margin y padding y hago que las dimensiones sean calculadas dentro del borde de mi caja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo generado desde https://galactic.ink/ */
body {
    background: #eecc91;
    background-image: url("../assets/ZenBG-1.png"), url("../assets/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}


.mainHeight {
    height: 65vh;
    @include desktop{
        height: 90vh;
    }
}

.caro {
    opacity: 90%;
    border-radius: 8vw;

    @include desktop {
        border-radius: 4vw;
        opacity: 100%;
        
        }
}
.imgCarouselSize{
    @include desktop{
        height: 60vw;
        width: 60vw;
        margin-left: 10vw;
        margin-right: 10vw;
        
    }
}

/* Doy formato al logo de la empresa y a la vez hago la animacion para cuando el cursor le pasa por arriba */
.isotype {
    text-decoration: none;
    display: inline-block;

    font: {
        family: Bonheur;
        weight: 500;
        size: 14vw;
    }

    @include desktop {
        font-size: 6vw;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    color: map-get($colors, orange);

    &:hover {
        color: map-get($colors, dark);
    }
}

.spacing {
    padding-top: 5vw;

    @include desktop {
        padding-top: 1rem;
    }
}
/* Dando formato a la barra de navegación */
.navButtonSize {
    width: 4vw;
}
.centerParraf{
    @include desktop{
        margin-left: auto;
        margin-right: auto;
    }
}

.noline {
    border: 0;
    border-radius: 15px;
}
.navSpace{
    @include desktop{
        margin-top: 0;
        padding-top: 0;
    }
}

/* Doy color al fondo de las tajetas de producto */
.bacgroundColor {
    background-color: map-get($colors, light);
}

/* Doy mas aire entre las tarjetas de producto */
.cardSpace {
    padding: 1rem;
    @include desktop{
        margin-right: auto;
        margin-left: auto;
    }
}

/* Doy estilo al borde de la tarjetas de producto y animación */
.cardStyle {
    border: 2px solid map-get($colors, orange);
    border-radius: 1rem;
    background-color: rgba(171, 159, 139, 0.7);

    &:hover {
        @include shadowBox;
    }
}

/* Doy estilo al fondo de todos los modales */
.modalStyle {
    border: 4px solid map-get($colors, orange);
    border-radius: 1rem;
    background: #eecc91;
    background-image: url("../assets/ZenBG-1.png"), url("../assets/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}

/* Cambio el tamaño de la imagen que muestran los modales */
.imgSize {
    width: 40vw;
    @include desktop{
        width: 25vw;
    }
    @include widescreen{
        width: 20vw;
    }
}

/* Doy formato a los subtitulos del documento*/
.titleCP {
    font-family: rubik-ita;
    color: map-get($colors, orange);
}

/* Hago un extend para dar formato de fuente, color y padding */
format {
    font-family: rubik-black;
    color: map-get($colors, dark);
    padding: 0.5rem;
}

/* Doy formato a todos los parrafos del documento */
.parraf {
    @extend format;
    padding: 0.5rem;
}

.link {
    text-decoration: none;
    color: map-get($colors, orange);
    font-style: italic;
    font-weight: 600;

    &:visited {
        color: map-get($colors, orangeDark);
    }

    &:hover {
        color: map-get($colors, dark);
    }

}

/* Doy formato al logo de instagram, y el siguiente bloque se encarga de la animacion */
.isoInsta {
    height: 2rem;
    position: fixed;
    bottom: 20px;
    right: 15px;
    transition: box-shadow 0.5s ease;
    border-radius: 1rem;
    z-index: 1;
    @include desktop{
        height: 3rem;
    }
    @include widescreen{
        height: 4rem;
    }

    &:hover {
        @include shadowBox;
    }
}

/* Doy tamaño al logo de wp y lo hago mas grande al pasar el cursor */
.wpIso {
    display: inline-block;
    height: 2rem;
    padding-left: 1rem;

    &:hover {
        height: 3rem;
    }
}

.wpText {
    display: inline-block;
    padding-left: 1rem;
}

/* Doy tamaño al iframe */
.sizeIFrame {
    height: 55vh;

}


/* Desde aqui y los proximos tres bloques se encargan del footer, tanto del icono de correo, como la animacion y el formato del copy */
.footCont {
    height: 9vh;
}

.copy {
    @extend format;
    font-size: 0.8rem;
    text-align: left;
    color: map-get($colors, dark);
    @include desktop{
        margin-top: 1rem;
    }

}